<table class="dietTable">
    <thead>
        <tr>
            <td class="tableHead" colspan=4>
                <h2>Animal Dietary Tracker</h2>
            </td>
        </tr>
        <tr>
            <td class="columnHead">
                Animal's Name
            </td>
            <td class="columnHead">
                Species
            </td>
            <td class="columnHead">
                Pizzas Eaten
            </td>
            <td>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="animal in animalHouse.animals | orderBy : 'species'">
            <td>
                {{animal.name}}
            </td>
            <td>
                {{animal.species}}
            </td>
            <td>
                {{animal.pizzasEaten}}
            </td>
            <td class="buttonCell">
                <button ng-click="animalHouse.pizzaEaten(animal)"><i class="fa fa-plus"></i>&nbsp<i class="fa fa-cutlery"></i></button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>
                <input type="text" placeholder="New Animal Name" ng-model="animalHouse.newAnimal.name"></input>
            </td>
            <td>
                <input type="text" placeholder="New Animal Species" ng-model="animalHouse.newAnimal.species"></input>
            </td>
            <td>
                <button ng-click="animalHouse.addAnimal()"><i class="fa fa-plus"></i>&nbspAnimal</button>
            </td>
        </tr>
        <tr>
            <td colspan=4>
                <span class="error">{{animalHouse.errorMessage}}</span>
            </td>
        </tr>
    </tfoot>
</table>

<div>
</div>