<table class="dietTable">
    <thead>
        <tr>
            <td class="tableHead" colspan=4>
                Animal Dietary Tracker
            </td>
        </tr>
        <tr>
            <td class="columnHead">
                Animal's Name
            </td>
            <td class="columnHead">
                Species
            </td>
            <td class="columnHead">
                Children Eaten
            </td>
            <td>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="animal in animalHouse.animals">
            <td>
                {{animal.name}}
            </td>
            <td>
                {{animal.species}}
            </td>
            <td>
                {{animal.childrenEaten}}
            </td>
            <td>
                <button ng-click="animalHouse.childEaten(animal)">Ate A Kid</button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>
                <input type="text" placeholder="New Animal Name" ng-model="animalHouse.newAnimal.name"></input>
            </td>
            <td>
                <input type="text" placeholder="New Animal Species" ng-model="animalHouse.newAnimal.species"></input>
            </td>
            <td>
                <button ng-click="animalHouse.addAnimal()">Add Animal</button>
            </td>
        </tr>
        <tr colspan=4>
            <span class="error">{{animalHouse.errorMessage}}</span>
        </tr>
    </tfoot>
</table>

<div>
</div>