.dietTable td{
    padding: 6px;
}
.dietTable{
    border: none;
    border-collapse: collapse;
}
.dietTable tbody tr:nth-child(odd){
    background-color: #3CB371;
}
.dietTable input{
    width: 80%;
}
.buttonCell{
    background-color: #FFFFFF;
}
.tableHead{
    background-image: url('assets/background.jpg');
    background-size: 100% 100%;
}
.columnHead{
    text-decoration: underline;
}
.error{
    color: #990000;
    font-style: italic;
}