<table class="dietTable">
    <thead>
        <tr>
            <td class="tableHead" " colspan=3>
                Animal Dietary Tracker
            </td>
          </tr>
<tr>
    <td class="columnHead ">
        Animal Name
    </td>
    <td class="columnHead ">
        Children Eaten
    </td>
    <td>
    </td>
</tr>
</thead>
<tbody>
    <tr ng-repeat="animal in animalHouse.animals ">
        <td>
            {{animal.name}}
        </td>
        <td>
            {{animal.childrenEaten}}
        </td>
        <td>
            <button ng-click="animal.ateKid() ">Ate A Kid</button>
        </td>
    </tr>
</tbody>
</table>

<div>
    <input type="text " placeholder="New Animal " ng-model="animalHouse.newAnimal "></input>
    <button ng-click="animalHouse.addAnimal() ">Add Animal</button>
</div>